## Equal Weights Stratergy

In [2]:
import pandas as pd
import numpy as np
import yfinance as yf
import math

In [3]:
tickers = pd.read_csv('top_50_indian_stocks.csv')
tickers.head()

         Ticker               Company Name
0   RELIANCE.NS        Reliance Industries
1        TCS.NS  Tata Consultancy Services
2   HDFCBANK.NS                  HDFC Bank
3       INFY.NS                    Infosys
4  ICICIBANK.NS                 ICICI Bank

In [4]:
def fetch_market_cap(ticker_list):
    data = yf.download(ticker_list, period = '1d', group_by='ticker', auto_adjust=False)
    
    stocks_data = []
    for ticker in ticker_list:
        latest_price = data[ticker]['Close'].iloc[-1]
        market_cap = yf.Ticker(ticker).info.get("marketCap", 'N/A')
        stocks_data.append({
            "Ticker" : ticker, 
            "Market Cap" : market_cap,
            "Latest Price" : latest_price,
        })
        
    stocks_df = pd.DataFrame(stocks_data)
        
    return stocks_df
        
tickers_list = tickers["Ticker"].values.tolist()
df = fetch_market_cap(tickers_list)
df.head()

[*********************100%***********************]  50 of 50 completed

         Ticker      Market Cap  Latest Price
0   RELIANCE.NS  18754691923968   1385.900024
1        TCS.NS  11193284558848   3093.699951
2   HDFCBANK.NS  14945606434816    957.799988
3       INFY.NS   6340607475712   1500.099976
4  ICICIBANK.NS  10115731161088   1399.099976

In [5]:
df = df.sort_values(by = "Market Cap", ascending = False)
df

           Ticker      Market Cap  Latest Price
0     RELIANCE.NS  18754691923968   1385.900024
2     HDFCBANK.NS  14945606434816    957.799988
8   BHARTIARTL.NS  11279263596544   1881.099976
1          TCS.NS  11193284558848   3093.699951
4    ICICIBANK.NS  10115731161088   1399.099976
6         SBIN.NS   7402495672320    801.950012
3         INFY.NS   6340607475712   1500.099976
5   HINDUNILVR.NS   6236751265792   2654.399902
7   BAJFINANCE.NS   5448885862400    876.849976
9          ITC.NS   5021953949696    400.899994
12          LT.NS   4896419479552   3560.100098
29      MARUTI.NS   4638073421824  14752.000000
43         M&M.NS   4010413391872   3295.300049
13     HCLTECH.NS   3927957831680   1449.800049
10   KOTAKBANK.NS   3866685865984   1944.699951
16   SUNPHARMA.NS   3804617506816   1585.699951
18  ULTRACEMCO.NS   3683089645568  12521.000000
15    AXISBANK.NS   3263404179456   1051.900024
26       TITAN.NS   3226803634176   3637.699951
21        NTPC.NS   3208137932800    330.799988
34  BAJAJFINSV.NS   3060968980480   1917.599976
48       DMART.NS   3058380046336   4699.899902
20        ONGC.NS   2936116084736    233.389999
35  ADANIPORTS.NS   2841658785792   1315.400024
11    ADANIENT.NS   2626513534976   2275.199951
17       WIPRO.NS   2624881688576    250.649994
22   POWERGRID.NS   2552549605376    274.450012
32    JSWSTEEL.NS   2527921700864   1035.800049
23  TATAMOTORS.NS   2486811230208    675.450012
14  ASIANPAINT.NS   2391682580480   2489.000000
30   COALINDIA.NS   2306709651456    374.299988
41   TATASTEEL.NS   1916042608640    153.630005
45         IOC.NS   1907228934144    138.490005
40      GRASIM.NS   1889295269888   2784.300049
44   EICHERMOT.NS   1682147115008   6133.000000
19    HDFCLIFE.NS   1675849236480    775.349976
27    DIVISLAB.NS   1627855912960   6132.000000
47  PIDILITIND.NS   1558002270208   3062.899902
25  ADANIGREEN.NS   1517373620224    921.150024
37   BRITANNIA.NS   1378005811200   5721.000000
31        BPCL.NS   1348621434880    310.700012
28       TECHM.NS   1323658379264   1495.599976
36       CIPLA.NS   1276534718464   1580.300049
49     HDFCAMC.NS   1194207477760   5582.000000
39    SHREECEM.NS   1070798602240  29675.000000
33     DRREDDY.NS   1048750784512   1259.800049
42  HEROMOTOCO.NS   1018686275584   5091.700195
38     HAVELLS.NS    952575721472   1519.400024
46     SBICARD.NS    764788473856    803.599976
24  INDUSINDBK.NS    581658083328    746.599976

In [6]:
df = df.head(10)
df.reset_index(inplace=True, drop = True)
df

          Ticker      Market Cap  Latest Price
0    RELIANCE.NS  18754691923968   1385.900024
1    HDFCBANK.NS  14945606434816    957.799988
2  BHARTIARTL.NS  11279263596544   1881.099976
3         TCS.NS  11193284558848   3093.699951
4   ICICIBANK.NS  10115731161088   1399.099976
5        SBIN.NS   7402495672320    801.950012
6        INFY.NS   6340607475712   1500.099976
7  HINDUNILVR.NS   6236751265792   2654.399902
8  BAJFINANCE.NS   5448885862400    876.849976
9         ITC.NS   5021953949696    400.899994

In [9]:
portfolio_size = int(input("Enter the amount you want to invest: "))
position_size =  portfolio_size / len(df.index)
position_size

100000.0

In [10]:
df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(
    position_size / price
))

df

C:\Users\Manan\AppData\Local\Temp\ipykernel_936\2114546681.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of Shares to buy'] = df['Latest Price'].apply(lambda price: math.floor(

          Ticker      Market Cap  Latest Price  Number of Shares to buy
0    RELIANCE.NS  18754691923968   1385.900024                       72
1    HDFCBANK.NS  14945606434816    957.799988                      104
2  BHARTIARTL.NS  11279263596544   1881.099976                       53
3         TCS.NS  11193284558848   3093.699951                       32
4   ICICIBANK.NS  10115731161088   1399.099976                       71
5        SBIN.NS   7402495672320    801.950012                      124
6        INFY.NS   6340607475712   1500.099976                       66
7  HINDUNILVR.NS   6236751265792   2654.399902                       37
8  BAJFINANCE.NS   5448885862400    876.849976                      114
9         ITC.NS   5021953949696    400.899994                      249